# Web Framework
fastapi==0.128.8

# LangGraph & LangChain
langgraph==1.0.8
langchain==1.2.10
langchain-openai==1.1.9
langchain-core==1.2.11
langgraph-cli==0.4.12

# MCP Client (для общения с нашими инструментами)
mcp==1.26.0
fastmcp>=3.1.0
httpx==0.28.1
sse-starlette==3.3.2

# Utils
pydantic==2.12.4
python-dotenv==1.2.2

uvicorn[standard]==0.40.0
aiohttp==3.13.3

# logging
structlog>=25.4.0

# observability
arize-phoenix>=13.7.0
openinference-instrumentation-langchain>=0.1.61
opentelemetry-sdk
opentelemetry-exporter-otlp
opentelemetry-instrumentation-fastapi
